<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">

    <title>Front</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">Front</a>
        </div>

        <nav class="nav-header">
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="#">Galeria</a>
                </li>
                <li>
                    <a href="./contact.html">Contato</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>
        <div class="search">
            <input class="input" type="text" id="text" name="text" placeholder="Pesquisar...">
        </div>

        <div class="gallery"></div>

        <div class="paginate-box">
            <div class="paginate">
                <div id="first" class="paginate-item">First</div>
                <div id="prev" class="paginate-item">Prev</div>
                <div id="list"></div>
                <div id="next" class="paginate-item">Next</div>
                <div id="last" class="paginate-item">Last</div>
            </div>
        </div>
    </main>

    <footer>
        <p>Front 2023</p>
    </footer>

    <script src="../JS/gallery.js"></script>
</body>

</html>